:root{
  --pink: #b91a64;
  --white: white;
  --gray: lightgray;
}
h2 {
  color: var(--pink);
}

.content{
  border-bottom:transparent;
  border-top: transparent;
  border-left: transparent;
}
.card-body {
  border-left: var(--pink) solid 10px;
}
img:hover {
  box-shadow: -5px -5px 15px 15px #b91a64;
}

#background {
  background-color: var(--gray);
}
#image1 {
  position:relative;
}
#link1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  padding: 2%;
  margin-right: 12px;
  border: 10px solid var(--pink);
  border-style: dotted;
  border-width: thick;
  background-color: pink;
}
.secondaryimage img {
  height: 470px;
  display:flex;
  flex-wrap: wrap;
  float: left;
  padding: 1%;
}

#image2 {
  margin: 5px 5px 0px 4px;
  position:relative;
}

#image3 {
  margin: 5px 5px 0px 5px;
  position:relative;
  height: 470px;
}

#image4 {
  margin: 5px 5px 0px 5px;
  position:relative;
  
}

#image5 {
  margin: 5px 0px 0px 5px;
  position:relative;
}